<div class="title center-align">
    <div class="parallax-container">
        <div class="parallax"><img src="http://i.imgur.com/9fuL9X0.jpg"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h3 class="header">Welcome Wisdom</h3>
            <p class="grey-text text-darken-3 lighten-3 center-align">
                <h5>Welcome Wisdom is a web application that offers volunteering opportunities to individuals who care for senior wellness, and connects volunteers with seniors in need of company. This website is created for building friendship and sharing wisdom between volunteers and seniors.</h5>
            </p>
            <div class="signup-btn">
                <%= link_to 'Sign Up as Volunteer', '/volunteers/signup', method: :get, class: "waves-effect waves-light btn" %>
                <%= link_to 'Sign Up as Care Group', '/care_groups/signup', method: :get, class: "waves-effect waves-light btn" %>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="http://i.imgur.com/fDb7Rrz.jpg"></div>
    </div>
</div>

<footer class="page-footer teal lighten-1" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Welcome Wisdom</h5>
                <p class="grey-text text-lighten-4">Welcome Wisdom is a web application that offers volunteering opportunities to individuals who care for senior wellness, and connects volunteers with seniors in need of company. This website is created for building friendship and sharing wisdom between volunteers and seniors.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Care Groups</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Happy Home</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Starlight Home</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Wisdom Circle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align grey-text text-lighten-4">
            © 2017 Welcome Wisdom with
            <a href="https://github.com/myungok-star" id="star">Star Kim</a>
        </div>
    </div>
</footer>
