<div class="wrapper">
   <img src="http://i.imgur.com/9fuL9X0.jpg" id="main-photo" alt="main-photo">
 <!-- <div class="title container center-align">
   <h2 class="font-bold"> -->
  <div class="title center-align">
     Welcome to the Welcome Wisdom!
   <!-- </h2> -->
Have a cup of tea or play games with seniors who would love to meet you. You will make their days bright.

  <div class="signup-btn">
    <%= link_to 'Sign Up as Volunteer', '/volunteers/signup', method: :get, class: "waves-effect waves-light btn" %>
    <%= link_to 'Sign Up as Care Group', '/care_groups/signup', method: :get, class: "waves-effect waves-light btn" %>
  </div>
</div>
 </div>
