
      <div class="row">

        <div class="container center-align">
            <h2 class="font-bold">
              Welcome to the Welcome Wisdom!
            </h2>
            <h4 class="text-muted">Have a cup of tea or play games with seniors who would love to meet you. You will make their days bright.
            </h4>
          </div>

            <div class="row">
                <div class="container center-align">

            <%= button_to 'Sign Up as Volunteer', '/volunteers/signup', method: :get, class: "btn b-2x btn-lg b-white btn-info btn-rounded text-lg font-bold m-b-xxl animated fadeInUp", form: {style: 'display:inline-block;'} %>
              <%= button_to 'Sign Up as Care Group', '/care_groups/signup', method: :get, class: "btn b-2x btn-lg b-white btn-info btn-rounded text-lg font-bold m-b-xxl animated fadeInUp", form: {style: 'display:inline-block;'} %>

        </div>
        </div>
      </div>
