<div class="homepage">
 <!-- <div class="title container center-align">
   <h2 class="font-bold"> -->
  <div class="title center-align container">
     <h2>Welcome to the Welcome Wisdom!
   </h2>
   <h4>
Have a cup of tea or play games with seniors who would love to meet you. You will make their days bright.</h4>

  <div class="signup-btn">
    <%= link_to 'Sign Up as Volunteer', '/volunteers/signup', method: :get, class: "waves-effect waves-light btn" %>
    <%= link_to 'Sign Up as Care Group', '/care_groups/signup', method: :get, class: "waves-effect waves-light btn" %>
  </div>
</div>
</div>
