// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-image: url('http://i.imgur.com/9fuL9X0.jpg');
  background-size: cover;
  background-position: fixed;
}

.homepage {
  margin: 75px;
}
