<!DOCTYPE html>
<html>
    <head>
        <title>WelcomeWisdomApp</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Welcome Wisdom</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Volunteer</a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li>
                            <a href="/volunteers/signup">Sign Up</a>
                        </li>
                        <li>
                            <a href="/volunteers/login">Log In</a>
                        </li>
                    </ul>

                    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Care Group</a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown2' class='dropdown-content'>
                        <li>
                            <a href="/care_groups/signup">Sign Up</a>
                        </li>
                        <li>
                            <a href="/care_groups/login">Log In</a>
                        </li>
                    </ul>
            </ul>
        </div>
    </nav>

    <%= yield %>

</body>

</html>
